@import '@/assets/scss/helpers/all.scss';

.otherFixes {
  padding-top: 96px;
  height: auto;
  .title {
    span {
      font-family: $font_primary;
      font-size: 16px;
      line-height: 154%;
      font-weight: 400;
      text-size-adjust: 100%;
      letter-spacing: normal;
      color: $gray;
      padding-bottom: 30px;
    }
  }
  .links {
    margin: 48px 0;
    height: auto;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    a {
      font-family: $font_primary;
      font-size: 20px;
      line-height: 140%;
      font-weight: 700;
      text-size-adjust: 100%;
      letter-spacing: normal;
      color: $blue;
      padding-top: 48px;
    }
    a:hover {
      color: $yellow;
    }
    a:before {
      content: url('./icon.svg');
      margin-right: 10px;
      margin-top: 5px;
      vertical-align: middle;
    }
  }
}
