.footer {
  width: 100%;
  height: 390px;
  padding: 48px 0;
  background-image: url('./footer-xlg-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  .logo {
    width: 226px;
    height: 45px;
    background-image: url('./logo-w.svg');
    background-repeat: no-repeat;
  }
}
