.wrapper {
  width: 573px;
  input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.537);
    &:focus {
      outline: none;
      border-bottom: 2px solid gray;
    }
  }
}
